# --- PROJECT CLEANUP IGNORE RULES ---
# Dossiers lourds ou non requis pour OpenClassrooms
app/model_weights/
experiments/
mlruns/
mlartifacts/
logs/
__pycache__/
.ipynb_checkpoints/
Lib/
Scripts/
share/
Include/
# Fichiers lourds
*.keras
*.h5
*.csv
*.png
*.jpg
*.jpeg
*.zip
# Environnements / IDE
.env
.vscode/
