# Core API
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Machine Learning
tensorflow-cpu==2.16.2
numpy==1.26.4
pillow==10.4.0

# Configuration & validation
pydantic==2.7.4
python-dotenv==1.0.1
pydantic-settings>=2.0.0

# Logging & observabilité
mlflow==2.14.3

python-multipart>=0.0.9
